<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="myplugin.MyPlugin">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="myplugin.Perspective"
            id="MyPlugin.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="MyPlugin.commands.category"
            name="Sample Category">
      </category>
      <command
            categoryId="MyPlugin.commands.category"
            id="MyPlugin.commands.sampleCommand"
            name="virtual group tool">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="myplugin.handlers.SampleHandler"
            commandId="MyPlugin.commands.sampleCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="MyPlugin.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="MyPlugin.menus.sampleMenu"
               label="MyTools"
               mnemonic="M">
            <command
                  commandId="MyPlugin.commands.sampleCommand"
                  id="MyPlugin.menus.sampleCommand"
                  mnemonic="S">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="MyPlugin.toolbars.sampleToolbar">
            <command
                  commandId="MyPlugin.commands.sampleCommand"
                  icon="icons/sample.gif"
                  id="MyPlugin.toolbars.sampleCommand"
                  tooltip="Say hello world">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
